

<main class="main">

  <header>
    <h1 class="main-title">Filmes para as crianças assistirem</h1>
  </header>

  <div class="content">
    <div class="list-container">
      @for (item of movies; track item.name) {
        <mat-card class="movie-card" style="padding-bottom: 15px;">
          <mat-card-header>
            <mat-card-title-group style="justify-content: space-between;">
              <div class="card-title-box">
                <mat-card-title>{{item.name}}</mat-card-title>
                <div class="card-streams-container">
                  @for (stream of item.streams; track stream.name) {
                    <a mat-button  [href]="stream.link" target="_blank">{{stream.name}}</a>
                  }
                </div>
              </div>
              <img class="card-image" [src]="item.image"  [alt]="item.name">
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>

        } @empty {
        <div>There are no items.</div>
        }
  </div>
  </div>
</main>


<router-outlet />
