

<main class="main">

  <header>
    <h1 class="main-title">Filmes para as crianças assistirem</h1>
  </header>

  <div class="content">
      @for (item of movies; track item.id) {
        <mat-card class="movie-card" appearance="outlined">

          <img mat-card-image class="card-image" [src]="item.image"  [alt]="item.name">
          <mat-card-content>
            <p>
              {{item.description}}
            </p>
          </mat-card-content>
          <mat-card-header>
            <mat-card-title>{{item.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            @for (stream of item.streams; track stream.name) {
              <a mat-button  [href]="stream.link" target="_blank">{{stream.name}}</a>
            }
          </mat-card-actions>
        </mat-card>

        } @empty {
        <div>There are no items.</div>
        }
  </div>
</main>


<router-outlet />
