body{
  font-size: 14px;
}

.main-title {
  font-size: 2.2rem;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  justify-content: center;
  justify-items: center;
  padding: 20px;
  width: 600px;
  margin: 0 auto;
}

.form-content {
  padding: 20px;
  width: 600px;
  margin: 0 auto;
}

.form-filter {
  width: 100%;
}

.movie-card {
  max-width: 188px;
}

.card-image {
  height: 282px;
}

.card-title-box {
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}


@media screen and (max-width: 768px) {

  body, html {
    font-size: 12px;
  }

  .content {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 10px;
    width: 100%;
  }

  .form-content {
    width: 100%;
  }

}
