<header>
  <h1 class="main-title">Séries</h1>
</header>

<div class="form-content">

  <!-- <form > -->
    <div class="form-container">
      <mat-form-field class="search-bar">
        <mat-label>Buscar Filme</mat-label>
        <input matInput placeholder="Input" [(ngModel)]="search">
        @if (search) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="search='';searchFilter()">
            <mat-icon>close</mat-icon>
          </button>
        }

      </mat-form-field>
      <button mat-fab (click)="searchFilter()">
        <mat-icon>search</mat-icon>
      </button>
    </div>

  <!-- </form> -->

</div>

<div class="content">
    <card-list [movies]="movies"></card-list>
</div>
