/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main,
.content,
.main > * {
  width: 100%;
}

.main > * {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}


body, html {
  font-size: 14px;
}

h1 {
  font-size: 3em;
  text-align: center;
}

@media screen and (max-width: 768px) {

  body, html {
    font-size: 12px;
  }

  .main > * {
    padding-left: 10px;
    padding-right: 10px;
  }

}

/* Card List */
/*-------------------------------------------------------------------------------------*/


.main-title {
  font-size: 2.2rem;
  text-align: center;
}

.content {
  padding: 20px;
  width: 600px;
  margin: 0 auto;
}

.form-content {
  padding: 20px;
  width: 600px;
  margin: 0 auto;
}

.form-filter {
  width: 100%;
}


.search-bar {
  flex: 1;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.form-container {
  display: flex;
  width: 100%;
  gap: 10px;
}

@media screen and (max-width: 768px) {

  .content {
    padding: 10px;
    width: 100%;
  }

  .form-content {
    width: 100%;
  }

}

/* Menu */
/*-------------------------------------------------------------------------------------*/

.menu-nav {
  display: flex;
  flex-direction: column; /* Stack vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Take full viewport height */
  gap: 16px; /* Space between buttons */
  margin: 0 auto;
  width: 400px;
}

/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5.full {
  width: 100%;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


@media screen and (max-width: 768px) {

  .menu-nav {
    width: 90%;
  }

}
